body.landing-body {
    background: #21122e;  
    color: #e6e6e6;
    margin: 0;
    padding: 0;

    background-image:
      linear-gradient(rgba(0, 80, 0, 0.15) 1px, transparent 1px);
    background-size: 100% 3px;

    font-family: Verdana, Arial, sans-serif;
}

.landing-container {
    width: 600px;
    margin: 100px auto;
    text-align: center;

    background: #fffff0;
    border: 1px solid #333;
    padding: 40px 20px;

    box-shadow: none;
}

.landing-title {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    border-bottom: 1px solid #444;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 5px;

    text-align: center;
    width: 100%;
}

.landing-text {
    color: #111;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.landing-button {
    display: inline-block;
    padding: 6px 20px;

    background: #dddddd;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;

    cursor: pointer;
    position: relative;
    top: 1px;
}

.landing-button:hover {
    top: 0px;
    left: 1px;
}

.landing-container {
    animation: lfFade 1s steps(4) forwards;
}

@keyframes lfFade {
    from { opacity: 0; }
    to   { opacity: 1; }
}
