body.question-body {
    background: #001f11;
    color: #fff;
    font-family: Verdana, sans-serif;

    background-image: linear-gradient(rgba(0,80,0,0.15) 1px, transparent 1px);
    background-size: 100% 2px;
}