body.question-body {
    background: #001f11;
    color: #fff;
    font-family: Verdana, Arial, sans-serif;

    background-image: linear-gradient(rgba(0,80,0,0.15) 1px, transparent 1px);
    background-size: 100% 2px;
}

.question-container {
    width: 600px;
    background: #fffff0;
    border: 1px solid #333;
    padding: 30px 20px;
    margin: 80px auto;
    text-align: left;
}

.q-title {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #000;
}

input, select {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #000;
    font-family: Verdana;
}

button {
    margin-top: 25px;
    background: #ddd;
    border: 2px solid #000;
    padding: 5px 14px;
    cursor: pointer;
}
